{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Departments{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">视频信息</h1>
        {% if videos %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="10%"> 视频名称 </th>
                  <th width="10%"> 视频链接地址 </th>
                  <th width="10%"> 视频首页图片 </th>
                    <th width="10%"> 发布人姓名 </th>
                    <th width="10%"> 获点赞数量 </th>
                    <th width="10%"> 收藏人用户名 </th>
                    <th width="10%"> 上传人用户名 </th>
                    <th width="10%"> 下载人用户名 </th>
                  <th width="10%"> 修改 </th>
                  <th width="10%"> 删除 </th>
                </tr>
              </thead>
              <tbody>
              {% for video in videos %}
                <tr>
                  <td> {{ video['video_name'] }} </td>
                  <td> {{ video['video_address'] }} </td>
                    <td> {{ video['video_picture'] }} </td>
                  <td> {{ video['release_name'] }} </td>
                   <td> {{ video['praise_num'] }} </td>
                  <td> {{ video['collection_name'] }} </td>
                    <td> {{ video['upload_name'] }} </td>
                   <td> {{ video['download_name'] }} </td>
                  <td>
                    <a href="{{ url_for('admin.edit_video', name=video['video_name']) }}">
                      <i class="fa fa-pencil"></i> 修改
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.delete_video', name=video['video_name']) }}">
                      <i class="fa fa-trash"></i> 删除
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> 还未添加任何视频信息 </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_video') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            添加视频信息
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}